@charset "UTF8";

ul#album-fotos1{
    width: 1000px;
    padding: 50px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
    list-style: none;
    text-align: center;
}

ul#album-fotos1 li{
    width: 270px;
    height: 270px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 3px rgba(0, 184,0,0.9);
    border-radius: 10px;
    background-color: rgba(34, 34, 34);
    -webkit-transition: all 0.5s ease-in;
}
ul#album-fotos1 li span {
    position: relative;
    top: 230px;
    opacity: 0;
    color: white;
    background-color: rgba(34, 34, 34);
    border-radius: 5px;
    padding: 5px;
}
ul#album-fotos1 li:hover span{
    opacity: 1;
}
ul#album-fotos1 li:hover{
    -webkit-transform: scale(1.5);
}
ul#album-fotos1 li#foto-01{
    background: url('../_imagens/galeria-01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 540px 540px;
    background-color: white;
}
ul#album-fotos1 li#foto-01:hover{
    background-position: 0px 0px;
    background-size: 270px 270px;
}
ul#album-fotos1 li#foto-02{
    background: url('../_imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 540px 540px;
    background-color: white;
}
ul#album-fotos1 li#foto-02:hover{
    background-position: 0px 0px;
    background-size: 270px 270px;
}
ul#album-fotos1 li#foto-03{
    background: url('../_imagens/galeria-03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 540px 540px;
    background-color: white;
}
ul#album-fotos1 li#foto-03:hover{
    background-position: 0px 0px;
    background-size: 270px 270px;
}
ul#album-fotos1 li#foto-04{
    background: url('../_imagens/galeria-04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 540px 540px;
    background-color: white;
}
ul#album-fotos1 li#foto-04:hover{
    background-position: 0px 0px;
    background-size: 270px 270px;
}
ul#album-fotos1 li#foto-05{
    background: url('../_imagens/galeria-05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 540px 540px;
    background-color: white;
}
ul#album-fotos1 li#foto-05:hover{
    background-position: 0px 0px;
    background-size: 270px 270px;
}
ul#album-fotos1 li#foto-06{
    background: url('../_imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 540px 540px;
    background-color: white;
}
ul#album-fotos1 li#foto-06:hover{
    background-position: 0px 0px;
    background-size: 270px 270px;
}