@charset "UTF8";

div#tv-radio{
    position: relative;
    left: 130px;
    width: 1110px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#musica{
    display: block;
    position: relative;
    width: 300px;
    left: 575px;
    top: 490px ;
}
video#filme{
    display: block;
    position: relative;
    width: 455px;
    top: 66px;
    left: 80px;
}

